<template name="KPackMenus">
  <div class="side-nav">
      <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                    <div class="panel-heading">
                              <a data-toggle="collapse" data-parent="#accordion" href="/home"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>
                                        <a href="http://www.jquery2dotnet.com">Articles</a><span class="glyphicon glyphicon-pencil text-primary"></span>
                                </li>
                                <li>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                </li>
                                <li>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                </li>
                                <li>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
